<mat-card *ngIf="(script$|async) as scripts" (window:beforeunload)="unloadScript()">
    <mat-card-header>
        <mat-card-title>{{scripts.title}}</mat-card-title>
        <mat-card-subtitle>{{scripts.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="scripts.controlFields" [formGroup]="controlForm">
            <formly-form [model]="controlModel" [fields]="scripts.controlFields" [options]="controlOptions"
                [form]="controlForm" (modelChange)="scripts.mainFields = updateForm(controlModel)"></formly-form>
        </form>
        <form *ngIf="scripts.mainFields" [formGroup]="mainForm">
            <formly-form [model]="mainModel" [fields]="scripts.mainFields" [options]="mainOptions" [form]="mainForm">
            </formly-form>
        </form>
        <mat-form-field *ngIf="result">
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
                [value]="result"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="generateScript(mainModel)"
            [disabled]="(!controlForm.valid || !mainForm.valid)">Generate</button>
        <button mat-button *ngIf="result" [cdkCopyToClipboard]="result">Copy to clipboard</button>
        <button mat-button (click)="clear()" color="danger">Reset</button>
    </mat-card-actions>
</mat-card>